@charset "UTF-8";
/* Variables */
/* Reset básico */
/* Variables */
* {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Cuerpo */
/* Variables */
body {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
@media (min-width: 768px) {
  body {
    padding-top: 0;
  }
}

/* Enlaces */
/* Variables */
a {
  text-decoration: none;
  color: black !important;
  transition: transform 0.3s !important;
}
a:hover {
  transform: scale(1.1);
}

/* Encabezado */
/* Variables */
header {
  background-color: #d4c285;
  padding: 0;
  margin: 0;
}

.barranav {
  background-color: #d4c285;
  color: black;
}

/* Contenido principal */
/* Variables */
main {
  flex: 1;
}

/* Elementos específicos */
/* Variables */
.buscar {
  text-align: center;
  font-size: 1.5em;
  margin: auto;
  padding: 0.5rem;
  background-color: #d4c285;
  font-family: "Playfair Display SC", serif;
}

.boton {
  background-color: transparent;
  color: black;
  border-color: black;
}
.boton:hover {
  transform: scale(0.9);
  border-color: black;
}

.titulo {
  font-size: 2.5rem;
  padding: 0;
  font-family: "Playfair Display SC", serif;
  color: black;
}

.nav-color {
  background-color: #d4c285;
  color: black;
}

/* Cards */
/* Variables */
.h2 {
  font-size: 2rem;
  font-family: "Playfair Display SC", serif;
  color: black;
  text-align: center;
  margin: 1em;
}

.card {
  margin: 1em;
  padding: 0;
  border: 1px solid #d4c285;
  border-radius: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center {
  justify-content: space-around;
}

/* Footer */
/* Variables */
footer {
  background-color: #4B3D25;
  color: #d4c285;
  text-align: center;
  padding: 1em;
  margin: 0;
}
footer .footer {
  display: flex;
  flex-direction: column;
}
footer .footer img {
  margin: 0.5em;
}
footer .socialmedia {
  display: flex;
  justify-content: center;
  margin: 0 1em;
}
footer .socialmedia a img {
  margin: 0 10px;
  max-width: 40px;
  display: inline-block;
}
footer .row img {
  transition: transform 0.3s;
  margin: 1em;
}
footer .row img:hover {
  transform: scale(1.2);
}

/* Perfumes */
/* Variables */
.img-perfume {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.row {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.botones2 {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: auto;
  width: 33% !important;
  color: white !important;
  background-color: green;
}
.botones2:hover {
  transform: scale(0.9) !important;
  color: black !important;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.Precio {
  color: rgb(1, 143, 1);
  font-size: 1em;
  font-weight: bold;
}

/* Ajustes para pantallas de celular */
/* Variables */
@media (max-width: 576px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
/* Contenedor general */
.container {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
