/* Variables */
$color-pagina: #d4c285;
$color-body: white;
$color-footer: #4B3D25;
$color-texto: black;
$color-precio: rgb(1, 143, 1);
$link-hover-transform: scale(1.1);
$fuente-pagina: 'Playfair Display SC', serif;
$size-h1: 2.5rem;
$size-h2: 2rem;
$size-celular-h1: 1.8rem;
$size-celular-h2: 1.5rem;
