html{
    color: #333333;
}
body{
    background-color:#FFFFFF ;
}
.titulo{
    text-align: center;
    font-size: 4em;
    margin: auto;
    background-color: #F5F5DC;
    font-family: 'playfair display SC';
    color: #4B3D25;
}

.subtitulo{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
}

footer {
    background-color: #C3B091;
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

footer p{
    color: white;
    font-size: 1em;
    font-weight: semi-bold;
}

.navbar{
    background-color: transparent;
    color: black;
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;

}

.navbar ul li{
    padding: 0 10px;
    text-decoration: none;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: semi-bold;
}

.fotoinicio{
    width: 350px;
    height: auto;
    margin: 0 auto;
}

.Banner{
    display: flex;
    width: 70%;
    height: 50%;
    margin: 0 auto;
}

.imgBanner{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.imgIzquierda{
    width: 70%;
    height: auto;
    margin: 50px auto 50px auto;
    display: flex;
    ;

}

.imgIzquierda p{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.imgDerecha{
    width: 70%;
    height: auto;
    margin: 50px auto 50px auto;
    display: flex;
    ;

}

.imgDerecha p{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}

/*PRODUCTOS*/


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 10%;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
    color: #333;
}

/*PROMOCIONES*/

header {
    text-align: center;
    padding: 20px;
    background-color: #ffc107;
    color: #fff;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
}

.promotions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.promo {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promo:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.promo h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.promo p {
    font-size: 16px;
}

/*MI CUENTA*/

.login-container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

p {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;

} .register-container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.nav{
    background-color:#F5F5DC;
}